//COLORS
$green-light: #49bb62;
$green-dark: #0d571d;
$grey-dark: #444;
$grey-dark-2: #999;
$grey-light-1: #f7f7f7;
$grey-light-2: #ddd;
$white: #fff;
$black: #000;

$orange-light: #ffb900;
$orange-dark: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;

//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gutter-verticle:6rem;
$gutter-verticle-small: 5rem;
$gutter-horizontal:6rem;