.btn{
    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;

        border: none;
        cursor: pointer;
    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($black, .5);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($black, .5);
    }

    &--white{
        background-color: $white;
        color: $grey-dark;

        &::after{
            background-color: $white;
        }
    }

    &--green{
        background-color: $green-light;
        color: $white;

        &::after{
            background-color: $green-light;
        }
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-animated{
        animation: moveInBottom 1.5s ease-out;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{        
        font-size: $default-font-size;
        color: $green-light;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $green-light;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        color: $white;
        background-color: $green-light;
        box-shadow: 0 1rem 2rem rgba($black, .3);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 0.5rem 1rem rgba($black, .3);
        transform: translateY(0px);
    }
}