.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black, 0.6);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .4s;

        &--p1{
            left: 0;
            top: -2rem;
        }

        &--p2{
            right: 0;
            top: 2rem;
        }

        &--p3{
            left: 8rem;
            top: 12rem;
        }

        &:hover{
            transform: scale(1.4) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($black, .6);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) { //selects the photos in the hovered composition that are not hovered 
        transform: scale(0.95);
    }
}